---
    import aboutimg from '../images/linemed-about.jpg'
---

<div class="my-16 py-16">
    <div class="flex flex-col md:flex-row mx-1 lg:mx-40 justify-center items-center">
        <div class="w-full md:w-1/2 text-gray-700 px-3 md:px-20 ">
            <p class="text-xs font-header mb-1">Behavioral health</p>
            <h1 class="font-header text-4xl mb-4">Welcome To LinMed</h1>
            <p class="font-open text-justify">LinMed provides consistent quality care with Telepsychiatry, Outpatient Services,
                mental
                health services, as well as support Living Residential services in Dallas, TX. With our comprehensive
                psychiatric evaluation and behavioral health services, our clients receive outpatient and inpatient
                treatment that is holistic, collaborative and nurturing at its core.</p>
        </div>
        <div>
            <img src={aboutimg} alt="Img">
        </div>
    </div>
</div>